@page "/loans/{name}"
@using BookLender.Shared.Models;
@using BookLenderUI.Services.Interfaces
@inject ILoanService LoanService

<h3>Rented By @Name</h3>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="text-center table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publication Year</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_books == null)
                    {
                        <tr>
                            <td colspan="4" class="text-center">Loading...</td>
                        </tr>
                    }
                    else if (!_books.Any())
                    {
                        <tr>
                            <td colspan="4" class="text-center">No readers found.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var book in _books)
                        {
                            <tr class="text-center">
                                <td>@book.InventoryNumber</td>
                                <td>@book.Title</td>
                                <td>@book.Author</td>
                                <td>@book.PublicationYear</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<Book> _books;

    [Parameter]
    public string Name { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _books = await LoanService.GetRentedBooksForreader(Name);
    }
}
